@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", serif;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  img {
    object-fit: contain;
  }
}

#illustration {
  width: 40vw;
}

.welcome-title {
  h1 {
    font-weight: 400;
    color: $neutralGray;
    padding-top: 4vh;
    padding-bottom: 2vh;
  }
  span {
    font-weight: 700;
    color: $neutralBlue;
  }
}

.input {
  padding-top: 5vh;
  padding-bottom: 8vh;
  width: 40vw;
  display: grid;
  grid-template-areas: "input button" "error error";
  column-gap: 1vw;
  row-gap: 1.5vh;
  ::placeholder {
    color: $secondaryBlue;
  }
  input {
    border: 1px solid $secondaryBlue;
    padding: 1em 1.8em;
    border-radius: 40px;
    grid-area: input;
  }
  button {
    grid-area: button;
    font-weight: 600;
    background-color: $primaryBlue;
    border: none;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: -1px 2px 5px 2px rgba(79, 125, 243, 0.32);
    padding: 1em 1.8em;
    &:hover {
      background-color: $secondaryBlue;
    }
  }
  span {
    grid-area: error;
    color: $secondaryRed;
    font-style: italic;
    font-size: 0.8em;
    margin-left: 2vw;
    display: none;
  }
}

.social {
  margin-top: 4vh;
  display: flex;
  width: 10vw;
  justify-content: space-between;
  span {
    border: 1px solid $secondaryBlue;
    border-radius: 50%;
    color: $primaryBlue;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    &:first-child {
      padding: 0.5em 0.8em;
    }
    &:hover {
      background-color: $primaryBlue;
      color: $secondaryBlue;
    }
  }
}

footer {
  margin-top: 2vh;
  color: $neutralGray;
}

@media only screen and (max-width: 660px) {
  #illustration {
    width: 85vw;
  }
  .input {
    width: 80vw;
    grid-template-areas: "input" "error" "button";
  }

  .social {
    width: 100vw;
    justify-content: center;
    span {
      font-size: 1.2em;
      margin-right: 2vw;
    }
  }
}
